# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
.env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Playwright
playwright-report/
test-results/
blob-report/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated project data (YOUR CASE)
reportspip/